:root {
	--bg: #000f14;
	--bg-alt: #0a191e;
	--bg-alt-hover: #0c1e24;
	--bg-disabled: #09151a;
	--fg: #a0a0b4;
	--fg-alt: #0a191e;
	--fg-error: #824655;
	--shadow: 0 0 18px 9px rgba(0, 0, 0, 0.25);
	--font: "Roboto";
	--image: url("../src/sakura.png");
}

body {
	 background-image: var(--image);
	 background-position: center center;
	 background-size: cover;
	 background-repeat: no-repeat;
	 background-attachment: fixed;
	 color: var(--fg);
	 font-family: var(--font);
	 font-size: 15px;
}

.select {
	box-sizing : border-box;
	cursor: pointer;
	display: inline-block;
	position: relative;
	outline: none;
}

::selection {
    color: none;
    background: none;
}

.select-input,
.select-input + .select-menu {
	display: none;
}

.select-input:checked + .select-menu {
	display: block;
}

.select-menu {
	background-color: var(--bg);
	border: 1px solid var(--bg);
	left: -1px; /* Parent border */
	list-style-type: none;
	margin-top: 0.5em;
	position: absolute;
	right: -1px; /* Parent border */
}

.select-menu li {
	color: var(--fg-alt);
	cursor: pointer;
	margin: -1px 0;
	padding: 1em;
	white-space: nowrap;
}

.select-menu li:hover {
	background-color: var(--bg-alt-hover) !important;
	color: var(--fg);
}

.select-menu li.selected {
	background-color: var(--bg-alt);
	color: var(--fg);
}

.select-value {
	background-color: transparent;
	cursor: pointer;
	display: inline-block;
	padding: 1em 2em 1em;
	white-space: nowrap;
}

.select-value:after {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid var(--fg-alt);
	content: '';
	height: 0;
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	width: 0;
}

form {
	width: 100%;
}

form button {
	background-color: var(--bg-alt);
    border: none;
	color: var(--fg);
	font-family: var(--font);
	font-size: 1em;
	font-weight: bold;
	padding: 1em;
	width: 100%;
}

form button:disabled,
form button:disabled:hover {
    background-color: var(--bg-disabled);
    color: var(--fg-alt);
    cursor: default;
}

form button:focus,
form button:hover {
	background-color: var(--bg-alt-hover);
	cursor: pointer;
}

form input {
	background-color: var(--bg);
	border: 1px solid var(--bg);
	box-sizing : border-box;
	color: var(--fg);
	font-family: var(--font);
	font-size: 1em;
	margin-bottom: 1em;
	padding: 1em;
	text-align: center;
	width: 100%;
}

form button:focus,
form input:focus {
	outline: none;
}

form input::placeholder {
	color: var(--fg-alt);
}

form .select {
	background-color: var(--bg);
	border: 1px solid var(--bg);
	margin-bottom: 1em;
	width: 50%;
	float: left;
}

#error-message:not(:empty) {
    color: var(--fg-error);
    display: block;
    margin-bottom: 2em;
}

#box {
	background-color: var(--bg);
	box-shadow: var(--shadow);
	left: 50%;
	margin: 0 auto;
	overflow: hidden;
	padding: 2em;
	position: absolute;
	top: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
	width: 30em;
}
