@import url("reset.css");

:root {
	--main-accent-color: #121212;
	--main-accent-color-hover: #171717;
	--main-bg-color: #0a0a0a;
	--main-bg-color-disabled: #121212;
	--main-bg-color-input: #0d0d0d;
	--main-bg-color-panel: #0f0f0f;
	--main-bg-color-selected: #0f0f0f;
	--main-border-color: #0d0d0d;
	--main-fg-color: #fff;
	--main-fg-color-dimmed: #e6e6e6;
	--main-fg-color-error: #ff0000;

	--main-font: "Roboto";
}

body {
	 background-color: var(--main-bg-color);
	 bottom: 0;
	 color: var(--main-fg-color);
	 font-family: var(--main-font);
	 font-size: 15px;
	 left: 0;
	 position: absolute;
	 right: 0;
	 top: 0;
}

.select {
	box-sizing : border-box;
	cursor: pointer;
	display: inline-block;
	position: relative;
	outline: none;
}

.select:hover .select-value:after {
	border-top: 5px solid var(--main-fg-color);
}

::selection {
    color: none;
    background: none;
}

.select-input {
	display: none;
}

.select-input + .select-menu {
	display: none;
}

.select-input:checked + .select-menu {
	display: block;
}

.select-menu {
	background-color: var(--main-bg-color-input);
	border: 1px solid var(--main-border-color);
	left: -1px; /* Parent border */
	list-style-type: none;
	margin-top: 0.5em;
	position: absolute;
	right: -1px; /* Parent border */
}

.select-menu li {
	color: var(--main-fg-color-dimmed);
	cursor: pointer;
	margin: -1px 0;
	padding: 1em;
	white-space: nowrap;
}

.select-menu li:hover {
	background-color: var(--main-accent-color) !important;
	color: var(--main-fg-color);
}

.select-menu li.selected {
	background-color: var(--main-bg-color-selected);
	color: var(--main-fg-color);
}

.select-value {
	background-color: transparent;
	cursor: pointer;
	display: inline-block;
	padding: 1em 2em 1em;
	white-space: nowrap;
}

.select-value:after {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid var(--main-fg-color-dimmed);
	content: '';
	height: 0;
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	width: 0;
}

form {
	width: 100%;
}

form button {
	background-color: var(--main-accent-color);
    border: none;
	color: var(--main-fg-color);
	font-family: var(--main-font);
	font-size: 1em;
	font-weight: bold;
	padding: 1em;
	width: 100%;
}

form button:disabled,
form button:disabled:hover {
    background-color: var(--main-bg-color-disabled);
    color: var(--main-fg-color-dimmed);
    cursor: default;
}

form button:focus,
form button:hover {
	background-color: var(--main-accent-color-hover);
	cursor: pointer;
}

form input {
	background-color: var(--main-bg-color-input);
	border: 1px solid var(--main-border-color);
	box-sizing : border-box;
	color: var(--main-fg-color);
	font-family: var(--main-font);
	font-size: 1em;
	margin-bottom: 1em;
	padding: 1em;
	text-align: center;
	width: 100%;
}

form button:focus,
form input:focus {
	outline: none;
}

form input::placeholder {
	color: var(--main-fg-color-dimmed);
}

form input::-webkit-calendar-picker-indicator:hover {
	background-color: transparent;
	color: var(--main-fg-color);
	cursor: pointer;
}

form .select {
	background-color: var(--main-bg-color-input);
	border: 1px solid var(--main-border-color);
	margin-bottom: 1em;
	width: 100%;
}

#bar {
	background-color: var(--main-bg-color-input);
	box-shadow: var(--main-box-sadow);
	cursor: default;
	display: flex;
	height: 2.4em;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

#error-message:not(:empty) {
    color: var(--main-fg-color-error);
    display: block;
    margin-bottom: 2em;
}


#power {
	background-color: var(--main-accent-color);
	margin-left: auto;
	text-align: center;
}

#power svg {
	cursor: pointer;
    display: none;
	fill: var(--main-fg-color);
	padding: 0.33em 0.8em;
	width: 1.5em !important;
}

#session svg {
	fill: var(--main-fg-color);
	padding: 0.33em 0.8em;
	width: 1.4em !important;
}

#session .select {
	top: -0.7em;
}

#session .select-value {
	padding: 0 2.5em 0 0;
}

#session .select-menu {
	border: none;
	box-shadow: var(--main-box-sadow);
	margin-top: 1.2em;
	right: auto;
}

#wrapper {
	background-color: var(--main-bg-color-panel);
	box-shadow: var(--main-box-sadow);
	left: 50%;
	margin: 0 auto;
	overflow: hidden;
	padding: 2em;
	position: absolute;
	top: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
	width: 30em;
}
