:root {
	--bg: #000f14;
	--bg2: #09151a;
	--bg3: #0a191e;
	--fg: #a0a0b4;
}

@font-face {
	font-family: "Roboto", monospace;
	src: url(fonts/RobotoMono-Regular.ttf)
}

html,
body {
	margin: 0;
	padding: 0;
}

html {
	height: 100vh
}

body {
	font-family: "Roboto", monospace;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: var(--bg);
	color: var(--fg) !important;
}

#box {
	background: var(--bg2);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	border-style: solid;
	border-width: 3px;
	border-color: var(--bg3);
}

ul {
	list-style: none;
	padding: 0;
	margin: 0 20px;
	font-size: 30px;
	line-height: 50px;
}

#links {
	column-count: 3;
}

a {
	color: var(--fg);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#time {
	font-size: 60px;
	margin-left: 15px;
	line-height: 80px;
	/*
	margin: 0 150px;
	*/
}
