@define-color borders #fffaf5;

* {
	color: #4b4646;	
}

window.background.chromium {
  background: #f8f5f2;
  color: rgba(75, 70, 70, 0.87);
}
window.background.chromium button {
  border: 1px solid #f8f5f2;
}
window.background.chromium .titlebutton {
  border: transparent;
}
window.background.chromium entry:focus {
  border-color: #4b4646;
}
window.background.chromium menu {
  background: #f5f0eb;
}
window.background.chromium menu menuitem {
  color: rgba(75, 70, 70, 0.87);
}
window.background.chromium menu menuitem:hover {
  background: rgba(75, 70, 70, 0.06);
}
window.background.chromium menu menuitem:disabled label {
  color: rgba(75, 70, 70, 0.06);
}
window.background.chromium headerbar, window.background.chromium menubar {
  background: #fffaf5;
}
window.background.chromium headerbar label, window.background.chromium menubar label {
  color: rgba(75, 70, 70, 0.34);
}
window.background.chromium headerbar .titlebutton, window.background.chromium menubar .titlebutton {
  padding: 100px 80px;
}
window.background.chromium scrollbar button {
  background: rgba(75, 70, 70, 0.06);
  color: rgba(75, 70, 70, 0.87);
}
window.background.chromium scrollbar trough {
  background: transparent;
}
window.background.chromium scrollbar slider {
  background: rgba(75, 70, 70, 0.06);
}
window.background.chromium scrollbar junction {
  background: rgba(75, 70, 70, 0.06);
}
window.background.chromium textview {
  background-color: #fffaf5;
  color: rgba(75, 70, 70, 0.87);
}

#MozillaGtkWidget {
  background: #fffaf5;
  color: rgba(75, 70, 70, 0.87);
}
#MozillaGtkWidget menubar {
  color: rgba(75, 70, 70, 0.34);
  background: #fffaf5;
}
#MozillaGtkWidget text {
  background: #ebe6e1;
}
#MozillaGtkWidget menu {
  background: #f5f0eb;
}
#MozillaGtkWidget menu :disabled {
  color: rgba(75, 70, 70, 0.06);
}
#MozillaGtkWidget menu separator {
  padding: 8px;
}
#MozillaGtkWidget border {
  border: 1px solid #f5f0eb;
}


.nemo-window .nemo-places-sidebar {
  background: #fffaf5;
}
.nemo-window .primary-toolbar {
  background: #f5f0eb;
  padding: 0.3em;
}
.nemo-window menubar ~ separator {
  min-width: 0;
  min-height: 0;
}
.nemo-window .toolbar {
  background: #f5f0eb;
  margin: -0.1em;
}
.nemo-window .nemo-window-pane :selected {
  background: rgba(235, 230, 225, 0.6);
}
.nemo-window .nemo-window-pane :active {
  background: rgba(235, 230, 225, 0.6);
}

actionbar {
  padding: 0.6em;
  background: #fffaf5;
  border-top: 1px solid rgba(75, 70, 70, 0.06);
}

button {
  transition: background-color 100ms ease-in;
  background: rgba(75, 70, 70, 0.06);
  padding: 0.6em;
  border-radius: 0.5em;
}
button:hover:not(:active) {
  background: rgba(75, 70, 70, 0.14);
}
button:disabled {
  opacity: 0.3;
}
button:checked, button.suggested-action {
  background: #ebe6e1;
  color: rgba(75, 70, 70, 0.87);
}
button:checked:hover:not(:active), button.suggested-action:hover:not(:active) {
  background: #ebe6e1;
}
button.image-button:not(.text-button) {
  padding: 0.8em;
}
button.destructive-action {
  background: rgba(235, 140, 140, 0.6);
  color: #4b4646;
}
button.destructive-action:hover:not(:active) {
  background: rgba(235, 140, 140, 0.6);
}
button.circular {
  border-radius: 100%;
  padding: 0.8em;
}
button.flat {
  background: transparent;
}
button.flat:hover {
  background: rgba(75, 70, 70, 0.06);
}
button.flat:active, button.flat:checked {
  background: rgba(75, 70, 70, 0.14);
}
label + button {
  margin-left: 0.6em;
}
button.small-button image:only-child {
  padding: 0.3em;
}
.linked.horizontal button:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.linked.horizontal button:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.linked.vertical button:not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.linked.vertical button:not(:last-child) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

calendar {
  background: #fffaf5;
}
calendar.button {
  background: #f5f0eb;
  color: rgba(75, 70, 70, 0.34);
}
calendar.button:hover {
  color: rgba(75, 70, 70, 0.87);
}
calendar.button:disabled {
  color: rgba(75, 70, 70, 0.06);
}
calendar.header {
  background: #f5f0eb;
}
calendar.highlight {
  color: rgba(75, 70, 70, 0.34);
}
calendar:selected {
  color: #4b4646;
  border-radius: 0.5em;
  background: #ebe6e1;
}
calendar:indeterminate {
  color: rgba(75, 70, 70, 0.14);
}

check {
  -gtk-icon-source: -gtk-recolor(url("../assets/symbolic/check.symbolic.png"));
  -gtk-icon-transform: scale(0);
  color: #4b4646;
  border: 0.2em solid rgba(75, 70, 70, 0.06);
  border-radius: 0.3em;
  padding: 0.1em;
  min-width: 0.7em;
  min-height: 0.7em;
  transition: -gtk-icon-transform 200ms;
}
check:hover {
  border-color: rgba(75, 70, 70, 0.14);
}
check:active, check:checked {
  background: rgba(75, 70, 70, 0.06);
}
check:checked {
  background: #ebe6e1;
  -gtk-icon-transform: scale(1);
  border-color: #ebe6e1;
}
check:checked:active {
  background: transparent;
}

checkbutton label {
  padding-left: 5px;
}
checkbutton:disabled {
  opacity: 0.3;
}

combobox entry {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
combobox entry:focus + button {
  border: 0.2em solid rgba(235, 230, 225, 0.8);
  border-left: 0;
  margin-right: -0.2em;
}
combobox entry:focus + button:hover {
  background-clip: padding-box;
}
combobox entry + button.combo {
  border-radius: 0 0.5em 0.5em 0;
}
combobox .linked button.combo {
  padding: 0.5em;
  border-radius: 0.5em;
}
combobox .linked button.combo arrow {
  min-width: 1em;
  -gtk-icon-source: -gtk-icontheme("go-down-symbolic");
}
.linked.horizontal combobox:not(:first-child) button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.linked.horizontal combobox:not(:last-child) button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.linked.vertical combobox:not(:first-child) button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.linked.vertical combobox:not(:last-child) button {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

dialog, messagedialog {
  background: #fffaf5;
}
dialog .dialog-action-box, messagedialog .dialog-action-box {
  background: #f5f0eb;
  padding: 0.6em;
  margin: -0.4em;
  margin-top: 0;
}
dialog fontchooser, dialog colorchooser, messagedialog fontchooser, messagedialog colorchooser {
  padding: 0.6em;
}
dialog filechooser + .dialog-action-box, messagedialog filechooser + .dialog-action-box {
  margin: 0;
}
dialog filechooser #pathbarbox, messagedialog filechooser #pathbarbox {
  padding: 0.3em;
  background: #f5f0eb;
}
dialog filechooser treeview, messagedialog filechooser treeview {
  background: #fffaf5;
}

entry {
  padding: 0.4em;
  border-radius: 0.5em;
  border: 0.2em solid rgba(75, 70, 70, 0.06);
  background: rgba(75, 70, 70, 0.06);
  background-clip: padding-box;
}
entry:focus {
  border-color: rgba(235, 230, 225, 0.8);
}
entry:disabled {
  opacity: 0.3;
}
entry image.left {
  margin-right: 0.6em;
}
entry image.right {
  margin-left: 0.6em;
}
entry selection {
  color: rgba(75, 70, 70, 0.87);
  background: rgba(75, 70, 70, 0.34);
}
.linked.horizontal entry:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.linked.horizontal entry:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.linked.vertical entry:not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.linked.vertical entry:not(:last-child) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

expander title {
  color: rgba(75, 70, 70, 0.34);
  padding: 0.6em;
}
expander title arrow {
  -gtk-icon-source: -gtk-icontheme("go-next-symbolic");
  min-width: 1em;
  min-height: 1em;
  margin-right: 0.6em;
}
expander title arrow:checked {
  -gtk-icon-source: -gtk-icontheme("go-down-symbolic");
  color: rgba(75, 70, 70, 0.87);
}
expander title arrow:checked + label {
  color: rgba(75, 70, 70, 0.87);
}

frame > border, .frame {
  border: 1px solid #f5f0eb;
}

scrolledwindow viewport.frame {
  border-style: none;
}

headerbar {
  background: #f5f0eb;
  padding: 0.6em;
}
headerbar button.titlebutton {
  padding: 0.8em;
}
headerbar button.titlebutton:not(.appmenu) {
  background: transparent;
}
headerbar button.titlebutton:not(.appmenu).close {
  color: #eb8c8c;
}
headerbar button.titlebutton:not(.appmenu).close:hover {
  color: #eb8c8c;
  background: rgba(235, 140, 140, 0.3);
}
headerbar button.titlebutton:not(.appmenu).minimize {
  color: #f0cd96;
}
headerbar button.titlebutton:not(.appmenu).minimize:hover {
  color: #f0cd96;
  background: rgba(240, 205, 150, 0.3);
}
headerbar button.titlebutton:not(.appmenu).maximize {
  color: #468264;
}
headerbar button.titlebutton:not(.appmenu).maximize:hover {
  color: #468264;
  background: rgba(70, 130, 100, 0.3);
}
headerbar button.titlebutton.appmenu:not(:active):not(:checked) {
  background: transparent;
}

iconview {
  background: #f5f0eb;
  padding: 0.3em;
}
iconview:selected {
  color: #4b4646;
  background: #ebe6e1;
  border-radius: 0.5em;
}

infobar {
  color: rgba(75, 70, 70, 0.87);
  padding: 0.3em;
  background: #fffaf5;
}
infobar.info {
  background: rgba(155, 185, 240, 0.6);
}
infobar.warning {
  background: rgba(240, 205, 150, 0.6);
}
infobar.error {
  background: rgba(235, 140, 140, 0.6);
}
infobar.question {
  background: rgba(235, 230, 225, 0.6);
}

label.dim-label, label:disabled {
  opacity: 0.3;
}
label selection {
  background: #ebe6e1;
  color: rgba(202, 198, 198, 0.87);
}

levelbar trough block {
  padding: 3px;
  border-radius: 3px;
}
levelbar trough block.filled {
  background: #f2ede8;
}
levelbar trough block.empty {
  background: #f5f0eb;
}
levelbar.discrete block:not(:first-child) {
  margin-left: 5px;
}

list {
  background: #fffaf5;
}
list row {
  background: #fffaf5;
  padding: 0.6em;
}
list row:hover {
  background: #f5f0eb;
}
list > label {
  padding: 0.3em;
}

menu {
  background: #f5f0eb;
}
menu menuitem {
  padding: 0.6em;
}
menu menuitem:hover {
  background: rgba(75, 70, 70, 0.06);
}

menubar {
  background: #fffaf5;
}
menubar menuitem {
  padding: 0.6em;
}
menubar menuitem:hover {
  background: rgba(75, 70, 70, 0.06);
}
menubar menuitem check, menubar menuitem radio {
  margin-right: 0.6em;
}

notebook stack:only-child {
  background: transparent;
}

overshoot.top {
  background-image: -gtk-gradient(radial, center top, 0, center top, 0.6, from(rgba(245, 240, 235, 0.2)), to(rgba(245, 240, 235, 0)));
  background-size: 100% 60%;
  background-repeat: no-repeat;
  background-position: center top;
}
overshoot.bottom {
  background-image: -gtk-gradient(radial, center bottom, 0, center bottom, 0.6, from(rgba(245, 240, 235, 0.2)), to(rgba(245, 240, 235, 0)));
  background-size: 100% 60%;
  background-repeat: no-repeat;
  background-position: center bottom;
}
overshoot.left {
  background-image: -gtk-gradient(radial, left center, 0, left center, 0.6, from(rgba(245, 240, 235, 0.2)), to(rgba(245, 240, 235, 0)));
  background-size: 60% 100%;
  background-repeat: no-repeat;
  background-position: left center;
}
overshoot.right {
  background-image: -gtk-gradient(radial, right center, 0, right center, 0.6, from(rgba(245, 240, 235, 0.2)), to(rgba(245, 240, 235, 0)));
  background-size: 60% 100%;
  background-repeat: no-repeat;
  background-position: right center;
}

.linked.path-bar button image:not(:only-child) {
  margin-right: 0.6em;
}
.linked.path-bar button:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.linked.path-bar button:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

placessidebar {
  background: #fffaf5;
}
placessidebar list {
  background: transparent;
}
placessidebar list row:hover {
  background: rgba(75, 70, 70, 0.06);
}
placessidebar list row:active {
  background: rgba(75, 70, 70, 0.14);
}
placessidebar list row:selected {
  background: rgba(235, 230, 225, 0.6);
}
placessidebar list row .sidebar-icon {
  margin-right: 0.6em;
}
placessidebar.frame,
placessidebar .frame {
  border: 0;
}

popover {
  background: #ebe6e1;
  box-shadow: 0 0 5px #4f4a4a;
  border-radius: 0.5em;
  padding: 0.5em;
}
popover box modelbutton {
  padding: 0.4em 1em;
  margin: 0 -0.5em;
  border-radius: 0.5em;
}
popover box modelbutton:hover {
  background: rgba(75, 70, 70, 0.06);
}
popover.menu:first-child {
  border-top-left-radius: 0;
}

progressbar trough {
  background: rgba(75, 70, 70, 0.06);
}
progressbar trough progress {
  background: #f2ede8;
}

radio {
  -gtk-icon-source: -gtk-recolor(url("../assets/symbolic/radio.symbolic.png"));
  -gtk-icon-transform: scale(0);
  color: #4b4646;
  border: 0.2em solid rgba(75, 70, 70, 0.06);
  border-radius: 100%;
  padding: 0.1em;
  min-width: 0.6em;
  min-height: 0.6em;
  transition: -gtk-icon-transform 200ms;
}
radio:hover {
  border-color: rgba(75, 70, 70, 0.14);
}
radio:active, radio:checked {
  background: rgba(75, 70, 70, 0.06);
}
radio:checked {
  -gtk-icon-transform: scale(1);
  border-color: #ebe6e1;
  background: #ebe6e1;
}

radiobutton label {
  padding-left: 5px;
}
radiobutton:disabled {
  opacity: 0.38;
}

revealer frame.app-notification border {
  border-radius: 0.5em;
  background: #f5f0eb;
  padding: 0.6em;
}
revealer.top frame.app-notification border {
  margin-top: 0.6em;
}
revealer.right frame.app-notification border {
  margin-right: 0.6em;
}
revealer.bottom frame.app-notification border {
  margin-bottom: 0.6em;
}
revealer.left frame.app-notification border {
  margin-left: 0.6em;
}

rubberband, .rubberband {
  background-color: rgba(75, 70, 70, 0.06);
  border: 0.2em solid rgba(235, 230, 225, 0.6);
}

scale {
  padding: 8px 0;
}
scale contents trough {
  background: #f5f0eb;
}
scale contents trough slider {
  background: white;
  padding: 8px;
  margin: -5px;
  border-radius: 100%;
}
scale contents trough highlight {
  background: #ebe6e1;
}
scale marks mark {
  padding-top: 5px;
}
scale marks mark indicator {
  color: #f5f0eb;
  min-height: 8px;
  min-width: 1px;
}
scale:disabled {
  opacity: 0.3;
}

scrollbar {
  -GtkScrollbar-has-backward-stepper: false;
  -GtkScrollbar-has-forward-stepper: false;
}
scrollbar slider {
  padding: 0.2em;
  border-radius: 1em;
  background: rgba(75, 70, 70, 0.06);
}
scrollbar slider:hover {
  background: rgba(75, 70, 70, 0.14);
}
scrollbar slider:active {
  background: #ebe6e1;
}

separator {
  background-image: image(rgba(75, 70, 70, 0.06));
  background-size: 1px 1px;
  background-position: center center;
  min-width: 7px;
  min-height: 7px;
  background-repeat: repeat-x;
  margin: -3px 0;
}
separator.vertical, .horizontal > separator {
  background-repeat: repeat-y;
  margin: 0 -3px;
}

spinbutton button {
  border: 0.2em solid transparent;
}
spinbutton:focus button {
  border-color: #ebe6e1;
}
spinbutton:focus button:hover {
  background-clip: padding-box;
}
spinbutton:disabled {
  opacity: 0.3;
}
spinbutton.horizontal :nth-child(3) {
  border-radius: 0.5em 0 0 0.5em;
  border-right: 0;
}
spinbutton.horizontal :nth-child(4) {
  border-radius: 0;
  border-width: 0.2em 0;
}
spinbutton.horizontal :nth-child(5) {
  border-radius: 0 0.5em 0.5em 0;
  border-left: 0;
}
spinbutton.vertical entry {
  padding: 0.6em 0;
}
spinbutton.vertical :nth-child(3) {
  border-radius: 0.5em 0.5em 0 0;
  border-bottom: 0;
}
spinbutton.vertical :nth-child(4) {
  border-radius: 0;
  border-width: 0 0.2em;
}
spinbutton.vertical :nth-child(5) {
  border-radius: 0 0 0.5em 0.5em;
  border-top: 0;
}
.linked.horizontal spinbutton:not(:first-child) :nth-child(3) {
  border-top-left-radius: 0;
}
.linked.horizontal spinbutton:not(:first-child) :nth-child(5) {
  border-bottom-left-radius: 0;
}
.linked.horizontal spinbutton:not(:last-child) :nth-child(3) {
  border-top-right-radius: 0;
}
.linked.horizontal spinbutton:not(:last-child) :nth-child(5) {
  border-bottom-right-radius: 0;
}
.linked.vertical spinbutton:not(:first-child) :nth-child(3) {
  border-top-left-radius: 0;
}
.linked.vertical spinbutton:not(:first-child) :nth-child(5) {
  border-top-right-radius: 0;
}
.linked.vertical spinbutton:not(:last-child) :nth-child(3) {
  border-bottom-left-radius: 0;
}
.linked.vertical spinbutton:not(:last-child) :nth-child(5) {
  border-bottom-right-radius: 0;
}

@keyframes rotate {
  to {
    -gtk-icon-transform: rotate(1turn);
  }
}
spinner {
  -gtk-icon-source: none;
}
spinner:checked {
  -gtk-icon-source: -gtk-icontheme("process-working-symbolic");
  animation: rotate 1s linear infinite;
}
spinner:disabled {
  opacity: 0.3;
}

switch {
  background: rgba(75, 70, 70, 0.06);
  border-radius: 1em;
  min-width: 3em;
  border: 0.2em solid transparent;
}
switch slider {
  background: rgba(75, 70, 70, 0.34);
  border-radius: 100%;
  min-width: 1.5em;
  min-height: 1.5em;
}
switch :nth-child(2) {
  color: transparent;
}
switch :nth-child(3) {
  color: rgba(75, 70, 70, 0.34);
}
switch:checked {
  background: rgba(235, 230, 225, 0.3);
}
switch:checked slider {
  background: rgba(235, 230, 225, 0.8);
}
switch:checked :nth-child(2) {
  color: rgba(75, 70, 70, 0.87);
}
switch:checked :nth-child(3) {
  color: transparent;
}
switch:disabled {
  opacity: 0.3;
}
switch:hover slider {
  box-shadow: 0 0 0 0.3em rgba(75, 70, 70, 0.14);
}
switch:hover:checked slider {
  box-shadow: 0 0 0 0.3em rgba(235, 230, 225, 0.3);
}

tabs {
  background: #fffaf5;
}
.top > tabs {
  border-bottom: 0.2em solid #f5f0eb;
}
.top > tabs tab {
  border-bottom: 0.2em solid transparent;
  margin-bottom: -0.2em;
}
.right > tabs {
  border-left: 0.2em solid #f5f0eb;
}
.right > tabs tab {
  border-left: 0.2em solid transparent;
  margin-left: -0.2em;
}
.bottom > tabs {
  border-top: 0.2em solid #f5f0eb;
}
.bottom > tabs tab {
  border-top: 0.2em solid transparent;
  margin-top: -0.2em;
}
.left > tabs {
  border-right: 0.2em solid #f5f0eb;
}
.left > tabs tab {
  border-right: 0.2em solid transparent;
  margin-right: -0.2em;
}
tabs tab {
  padding: 0.6em;
  color: rgba(75, 70, 70, 0.34);
}
header tabs tab:checked {
  border-color: rgba(235, 230, 225, 0.6);
  color: rgba(75, 70, 70, 0.87);
}
header tabs tab:hover:not(:checked) {
  border-color: rgba(75, 70, 70, 0.06);
  color: rgba(75, 70, 70, 0.87);
}

textview {
  background: rgba(75, 70, 70, 0.06);
  padding: 0.6em 0.3em;
}
textview:disabled {
  opacity: 0.3;
}
textview selection {
  background: rgba(75, 70, 70, 0.6);
  color: #4b4646;
}

toolbar, .toolbar {
  background: #fffaf5;
  padding: 0.6em;
}
toolbar.osd, .toolbar.osd {
  background: #f5f0eb;
  padding: 0.6em;
  border-radius: 0.5em;
}

tooltip {
  background: #ebe6e1;
}
tooltip > * {
  margin: 0.6em;
}
tooltip grid label {
  margin: 0.3em 0;
}
tooltip grid image {
  margin-right: 0.6em;
}

treeview {
  -GtkTreeView-expander-size: 16;
  -GtkTreeView-grid-line-pattern: "";
  -GtkTreeView-tree-line-pattern: "";
  -GtkTreeView-horizontal-separator: 12;
  -GtkTreeView-vertical-separator: 12;
  border-left-color: rgba(75, 70, 70, 0.06);
  border-top-color: rgba(75, 70, 70, 0.06);
}
treeview:hover {
  background: rgba(75, 70, 70, 0.06);
}
treeview:selected {
  background: rgba(235, 230, 225, 0.6);
  color: #4b4646;
}
treeview header button {
  padding: 0.6em;
  background: #fffaf5;
  border-radius: 0;
  color: rgba(75, 70, 70, 0.34);
}
treeview header button:hover:not(:active) {
  color: rgba(75, 70, 70, 0.87);
  background: #fffaf5;
}
treeview header button:not(:last-child) {
  border-right: 1px solid rgba(75, 70, 70, 0.06);
}

window, assistant {
  background: #fffaf5;
  color: rgba(75, 70, 70, 0.87);
}

window.csd decoration {
  box-shadow: 0 0 8px 0 black;
  margin: 8px;
}

/*# sourceMappingURL=gtk.css.map */
