[SddmGreeterTheme]
Name=Sugar Dark
Description=The sweetest theme around; Dark!
Author=Marian Arlt
Copyright=Copyright (C) 2018 Marian Arlt
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.2
Website=https://github.com/MarianArlt/sddm-sugar-dark
Screenshot=Preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=marianarlt@icloud.com
Theme-Id=sugar-dark
Theme-API=2.11
